.player-stats {
    display: flex;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.player-stats img {
    align-self: center;
}

.player-avatar {
    margin: 20px;
    border-radius: 50%;
    border: 10px solid #00000078;
}

.captures-container {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.captured {
    width: 150px;
    height: 150px;
    padding: 10px;
    position: relative;
}

.captured img {
  width: 100%;
  height: 100%;
}

.captured span {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 700;
    position: absolute;
    top: 2px;
    right: 2px;
    background: red;
    border: 3px solid darkred;
    border-radius: 50%;
}